body{
    background-image: url(../img/background.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

h1{
    font-family: 'Squada One', cursive;
}

.btn-outline-dark{
    font-family: 'Squada One', cursive;
}

.form-group{
    font-family: 'Squada One', cursive;  
    margin-top: 16px;
}

#gameCodeInput{
    text-align: center;
}